In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
refugees_df = pd.read_csv("../data/UNdata_refugees.csv")

In [6]:
refugees_df.columns

Index(['Country or territory of asylum or residence',
       'Country or territory of origin', 'Year', 'Refugees<sup>*</sup>',
       'Refugees assisted by UNHCR',
       'Total refugees and people in refugee-like situations<sup>**</sup>',
       'Total refugees and people in refugee-like situations assisted by UNHCR'],
      dtype='object')

In [13]:
ref_df = refugees_df[["Country or territory of asylum or residence", "Country or territory of origin", "Year"]]
ref_df = ref_df.rename({"Country or territory of asylum or residence": "asylum", 
                        "Country or territory of origin": "origin"}, axis="columns")

In [14]:
ref_df

            asylum                                             origin    Year
0      Afghanistan                                               Iraq  2016.0
1      Afghanistan                               Islamic Rep. of Iran  2016.0
2      Afghanistan                                           Pakistan  2016.0
3          Albania                                              China  2016.0
4          Albania                             Dem. Rep. of the Congo  2016.0
...            ...                                                ...     ...
96059       Zambia                                       South Africa  1975.0
96060       Zambia                                             Uganda  1975.0
96061      fnSeqID                                           Footnote     NaN
96062            *  Persons recognized as refugees under the 1951 ...     NaN
96063           **  The category of people in refugee-like situati...     NaN

[96064 rows x 3 columns]